module sutazai_hypervisor 1.0;

require {
    type container_t;
    type var_run_t;
    class file { execute execute_no_trans map };
    class dir search;
}

#============= sutazai_container ==============
allow container_t var_run_t:file { execute execute_no_trans map };
allow container_t var_run_t:dir search; 