fastapi>=0.115.6
uvicorn>=0.15.0
pydantic>=1.8.0
requests>=2.32.3
aiohttp>=3.11.11
python-multipart>=0.0.5
transformers>=4.48.0
torch>=2.5.1
numpy>=2.1.3
scipy>=1.7.0
scikit-learn>=1.6.0
accelerate>=0.12.0