apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://sutazai-prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"

  - name: Loki
    type: loki
    access: proxy
    url: http://sutazai-loki:3100
    editable: false
    jsonData:
      maxLines: 1000

  - name: Redis
    type: redis-datasource
    access: proxy
    url: sutazai-redis:6379
    editable: false
    jsonData:
      client: standalone
      poolSize: 5
      timeout: 10
      pingInterval: 0
      pipelineWindow: 0
